/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --primary-bright: hsl(31, 77%, 52%);
    --primary-mid: hsl(184, 100%, 22%);
    --primary-dark: hsl(179, 100%, 13%);

    --neutral-paragraphs: hsla(0, 0%, 100%, 0.75);
    --neutral-background: hsl(0, 0%, 95%);

    --ff-header: 'Big Shoulders Display', cursive;
    --ff-main: 'Lexend Deca', sans-serif;

    --fs-main: 0.938rem;
    
    --fw-regular: 400;
    --fw-bold: 700;
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-main);
  font-weight: var(--fw-regular);
  display: grid;
  place-content: center;
  margin-right: 10rem;
}

.container {
  display: flex;
  width: 57.5rem;
  height: 31.25rem;
  overflow: hidden;
  border-radius: 0.75rem;
}

.column {
  padding: 3.25rem;
  display: grid;
  
}
.column-sedans {
  background-color: var(--primary-bright);
}

.column-suvs {
  background-color: var(--primary-mid);

}

.column-luxury {
  background-color: var(--primary-dark);

}

p {
  color: var(--neutral-paragraphs);
}

h1 {
  color: var(--neutral-background);
  font-weight: var(--fw-bold);
  font-family: var(--ff-header);
  text-transform: uppercase;
}

.btn {

}